#applied {
  color: #fff;
  background-color: #0067dab3;
  border: 1px solid white;
}
#receiveTask {
  color: #fff;
  background-color: #ff3b2d8a;
  border: 1px solid white;
}
#inProgress {
  color: #fff;
  background-color: #961da28a;
  border: 1px solid white;
}
#contract {
  color: #fff;
  background-color: #1d9623b0;
  border: 1px solid white;
}
#denied {
  color: #fff;
  background-color: #d83f4ea8;
  border: 1px solid white;
}

.cardLists {
  padding: 1rem;
  background-color: rgb(0 0 0 / 8%);
  border-radius: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 35rem;
}

@media screen and (min-width: 1540px) {
  .cardLists {
    max-height: 40rem;
  }
}

@media screen and (max-width: 1539px) {
  .cardLists {
    max-height: 30rem;
  }
}

#positionWrapper {
  max-height: inherit;
  overflow-y: auto;
}

.listTitle {
  border-bottom: 1px solid black;
  height: 10%;
}

.card.cardStyle {
  border-radius: 1rem;
  cursor: pointer;
}

.cardButton {
  border-radius: 1rem;
}

.addPositionButton {
  background: transparent;
  font-size: 12px;
  border: 1.7px solid #1d9624a6;
  background-color: rgba(255, 255, 255, 0.644);
  color: #1d9624;
  border-radius: 1rem;
  padding: 0.5rem;
}

.row.addButtonWrapper {
  height: 100%;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .addButtonWrapper {
    justify-content: center;
  }
}
