#applied {
  color: #fff;
  background-color: #4c94e5;
  border: 1px solid white;
}
#receivedTask {
  color: #fff;
  background-color: #c685cd;
  border: 1px solid white;
}
#inProgress {
  color: #000;
  background-color: #ffd88d;
  border: 1px solid white;
}
#contract {
  color: #fff;
  background-color: #63b767;
  border: 1px solid white;
}
#denied {
  color: #fff;
  background-color: #b92c2c;
  border: 1px solid white;
}

.cardLists {
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 35rem;
}

@media screen and (min-width: 1540px) {
  .cardLists {
    max-height: 40rem;
  }
}

@media screen and (max-width: 1539px) {
  .cardLists {
    max-height: 30rem;
  }
}

#positionWrapper {
  max-height: inherit;
  overflow-y: auto;
}

.listTitle {
  border-bottom: 1px solid black;
  height: 10%;
}

.card.cardStyle {
  border-radius: 1rem;
  cursor: pointer;
}

.cardButton {
  border-radius: 1rem;
}

.addPositionButton {
  background-color: transparent;
  border: 0 solid transparent;
  display: flex;
  justify-content: right;
  /* font-size: 12px;
  background-color: rgba(255, 255, 255, 0.644);
  border: 1.7px solid #1d9624a6;
  color: #1d9624;
  border-radius: 1rem;
  padding: 0.5rem; */
}

.addButtonWrapper {
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 22rem;
  padding-right: 2rem;
}

.addPositionButtonSvg {
  width: 11rem;
}

.row.addButtonWrapper {
  height: 100%;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .addButtonWrapper {
    justify-content: center;
  }
}
