@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-image: url('../assets/images/backgroundVector.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: fixed;
  transform: translate(-75%, 100%);
  color: #353535;
  font-size: 18px;
  font-weight: normal;
  background-color: white;
  border: 1px solid #a5add8;
  border-radius: 4px;
  text-align: center;
  padding: 5px 15px;
  z-index: 10;

  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
}

[data-tooltip]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
