.modal-dialog.backdropModal {
  max-width: 60%;
}

form label {
  font-weight: bold;
}

.form-control {
  border: 1.5px solid #1d9624 !important;
}
.form-control:disabled {
  background-color: transparent !important;
  border: none !important;
  resize: none;
}
.hideButton {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  @media screen and (max-width: 1000px) {
    .cardLists {
      margin: auto;
    }
  }
  .modal.backdropWrapper {
    max-width: 100% !important;
    overflow-y: scroll;
    max-height: 85%;
  }
  .modal-dialog.backdropModal {
    margin: auto;
    max-width: 90% !important;
  }
}

@media screen and (max-width: 470px) {
  .modal.backdropWrapper {
    max-width: 100% !important;
    overflow-y: scroll;
    max-height: 85%;
  }
  .modal-dialog.backdropModal {
    margin: auto;
    max-width: 90% !important;
  }
}
