.nav-wrapper {
    display: flex;
    flex-direction: row;
}

.go-back {
    display: none;
    margin: 26px 0;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .nav-wrapper {
        justify-content: center;
    }

    .go-back {
        display: block;
    }

    .hide {
        display: none !important;
    }
}
