.homepageWrapper {
  min-height: 90%;
}

.cardLists {
  padding: 1rem;
  background-color: #ffffff9a;
  border-radius: 1rem;
  margin-right: 1rem;
}

.listTitle {
  border-bottom: 1px solid black;
}
.card.cardStyle {
  border-radius: 1rem;
  cursor: pointer;
}

.cardButton {
  border-radius: 1rem;
}

.addCompanyButton {
  background: transparent;
  font-size: 12px;
  border: 1.7px solid #1d9624a6;
  background-color: rgba(255, 255, 255, 0.644);
  color: #1d9624;
  border-radius: 1rem;
  padding: 0.5rem;
}
