.homepageWrapper {
  min-height: 90%;
}

.addCompanyButton {
  background: transparent;
  font-size: 12px;
  border: 1.7px solid #1d9624a6;
  background-color: rgba(255, 255, 255, 0.644);
  color: #1d9624;
  border-radius: 1rem;
  padding: 0.5rem;
}
